<!-- Footer -->
<footer class="container-fluid py-5 bg-danger" id="footer">
  <div class="h3 text-center text-white mb-5">
    {% if site.author %}
    {{ site.author | escape }}
    {% endif %}
  </div>
  <div class="h4 text-center text-white mb-5">
    <p>{{ site.description | escape }}</p>
  </div>

  <div class="row">
    <div class="col-6 text-center text-white">
      <ul class="list-unstyled">
        <li>XXXX</li>
        <li>XXXX</li>
        <li>XXXX</li>
        <li>XXXX</li>
      </ul>
    </div>
    <div class="col-6 text-center text-white">
      <ul class="list-unstyled">
        <li>XXXX</li>
        <li>XXXX</li>
        <li>XXXX</li>
        <li>XXXX</li>
      </ul>
    </div>
  </div>
</footer>
