<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include navbar.html %}
  <div class="container-fluid pb-5 pt-120" id="main">
    <div class="row g-5">
      <div class="col-md-6 offset-md-2">
        <div class="main-content p-5 border border-secondary-subtle rounded">
          {{ content }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="position-sticky sticky-top-6">
          <div class="main-content p-5 border border-secondary-subtle rounded">
          見出しを動的に生成
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include footer1.html %}
  {% include footer2.html %}
</body>
</html>
