<!doctype html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  {% include navbar.html %}
  <div class="container-fluid pb-5 pt-120" id="main">
    <div class="row g-5">
      <div class="col-lg-6 offset-lg-2">
        <div class="main-content p-5 border border-secondary-subtle rounded-3">
          {{ content }}
        </div>
      </div>
      <div class="col-lg-3 d-none d-lg-block">
        <div class="position-sticky sticky-top-6">
          <div class="main-content px-4 py-3 border bordexr-secondary-subtle rounded-3" id="pageNav">
            <div class="mb-2">
              <i class="fa-solid fa-compass"></i>
              <strong>目次</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="d-block d-lg-none d-xl-none d-xxl-none">
        <a class="" href="#" role="button"><i class="fa-solid fa-compass" style="font-size:5em"></i></a>
      </div>
    </div>
  </div>
  {% include footer1.html %}
  {% include footer2.html %}
</body>
</html>
